body, ul, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: white;
}

body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('img/alibaba2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
    animation: fadeinbackground 1s ease-in;
}

@keyframes fadeinbackground {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


nav ul{
    width: 100%;
    margin-top: 50px;
}

nav ul li {
    padding: 15px;
    text-align: center;
}

nav ul li a {
    width: 100%;
    padding: 10px;
    transition: 0.3s;
    font-size: 14px;
    opacity: 50px;
    margin: 7px;
    letter-spacing: 2px;
}

nav ul li a:hover {
    color: goldenrod;
    opacity: 100px;
    font-weight: bold;
    letter-spacing: 4.3px;
}

.tepi {
    background-color: #1f242d;
    height: 100vh;
    width: 230px;
    position: sticky;
    top: 0;
    left: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slideInLeft 1s ease-in-out forwards;
}

@keyframes slideInLeft {
    0% {
        left: -230px;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}

.logo img {
    margin-top: 80px;
    width: 130px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 50%;
    border: black solid 2px;
    box-shadow: 4px 6px 8px navajowhite;
}

.logo:hover {
    scale: 100%;
}

.main {
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100vh;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.main h1 {
    font-size: 40px;
    margin-bottom: 10px;
    text-align: left;
    margin-left: 70px;
    margin-top: 150px;
    font-family: monospace;
    letter-spacing: 3px;
}

.main p {
    font-size: 30px;
    padding: 10px;
    text-align: left;
    margin-left: 60px;
    letter-spacing: 5.2px;
}

button {
    background-color: #CD7F32;
    color: white;
    font-family: monospace;
    letter-spacing: 2px;
    margin-top: 99px;
    margin-left: 5px;
    font-size: 13px;
    width: 120px;
    height: 50px;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    background-color: lightgoldenrodyellow;
    color: black;
}

.ptepi {
    position: sticky;
}

#sidePanel {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100vh;
    background-color: #CD7F32;
    transition: 0.3s;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.3);
}

#togglePanel {
    position: absolute;
    left: -40px;
    top: 65%;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: white;
    border-radius: 5px 0 0 5px;
    border: white solid 3px;
}

#togglePanel:hover {
    background-color: #CD7F32;
    border: none;
}

#togglePanel:focus {
    background-color: #CD7F32;
    border: none;.''
}

.panel-content {
    font-family: 'Montserrat';
    color: white;
    text-align: center;
    justify-content: center;
}

h4 {
    color: white;
    transform: translate(0px ,20px);
    font-size: 40px;
    letter-spacing: 10px;
}

.atas1 {
    width: 631px;
    height: 100px;
    background-color: black;
    opacity: 60%;
    color: white;
    position: absolute;
    top: 0%;
    left: 16.3%;
}

.kopi img {
    position: absolute;
    margin-top: 290px;
    right: 0%;
    scale: 23%;
    z-index: 0;
}

.kopi img:hover {
    transition: 1.0s;
    transform: scale(1.3);
}